# Visual Studio
.vs/
*.user
*.suo
*.vcxproj.user
*.filters

# Build output
*.obj
*.exe
*.dll
*.pdb
*.idb
*.ilk
*.log
*.lib
*.tmp
*.tlb
*.tli
*.cache
*.pch
*.res
*.rsp
*.o

# Intermediate and output directories
Debug/
Release/
x64/
ipch/
bin/
obj/

# CMake
CMakeFiles/
CMakeCache.txt
CMakeLists.txt.user

# Windows specific
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# Git
*.log
*.gitattributes
*.gitignore

# Other
*.tlog
*.lastbuildstate
*.opensdf
*.iobj
*.ipdb
